<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplicação Calculadora Spring</title>
</head>
<body>
    <h1>Calculadora Spring</h1>
    <form action="/" method="post">
        <label>Operações</label>
        <select name="modelOperacao">
            <option value="Soma">Soma</option>
            <option value="Subtracao">Subtração</option>
        </select>
        <br>
        <br>
        <label>Valor 1</label>
        <input type="text" name="valor01">
        <br>
        <br>
        <label>Valor 2</label>
        <input type="text" name="valor02">
        <br>
        <br>
        <button type="submit">Calcular</button>
    </form>

    <p><b>Resultado da operação:</b> <span th:text="${response}"></span></p>

</body>
</html>